{{!--
Citation for the following html:
Date: 11/02/2025
Copied from: CS340 start app code 
Source URL: https://canvas.oregonstate.edu/courses/2017561/pages/exploration-web-application-technology-2?module_item_id=25645131
--}}
<h1>Classes</h1>
<div class="pageDescription">
    <p>Classes page.</p>
</div>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each classes.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, fname, lname, homeworld and age }}
        {{#each classes}}
        <tr>
            <td>{{this.classID}}</td>
            <td>{{this.name}}</td>
            <td>{{this.level}}</td>
            <td>${{this.price}}</td>
            <td>{{this.weekDuration}}</td>
            <td>{{this.instructorName}}</td>
         {{! DELETE form }}
            <form id='delete_person_form'>
                <input type='hidden' name='delete_person_id' value='{{this.classID}}' />
                <input type='hidden' name='delete_person_name' value='{{this.name}}' />
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>

    
</table>