{{!--
Citation for the following html:
Date: 11/02/2025
Copied from: CS340 start app code 
Source URL: https://canvas.oregonstate.edu/courses/2017561/pages/exploration-web-application-technology-2?module_item_id=25645131
All code on this page is adapted from this source
--}}
<h1>Classes</h1>
<div class="pageDescription">
    <p>Classes page.</p>
</div>

{{! READ table }}
<table>
    <thead>
        {{!-- Display headers/attribute names --}}
        <tr>
            {{#each classes.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, name, level, price, week duration, and instructor name}}
        
        {{#each classes}}
        <tr>
            <td>{{this.classID}}</td>
            <td>{{this.name}}</td>
            <td>{{this.level}}</td>
            <td>${{this.price}}</td>
            <td>{{this.weekDuration}}</td>
            <td>{{this.instructorName}}</td>
        </tr>
        {{/each}}
    </tbody>

    
</table>