{{!--
Citation for the following html:
Date: 11/02/2025
Copied from: CS340 start app code 
Source URL: https://canvas.oregonstate.edu/courses/2017561/pages/exploration-web-application-technology-2?module_item_id=25645131
--}}
<h1>Class Registration</h1>
<div class="pageDescription">
    <p>Class Registration page (PatronHasClasses table).</p>
</div>

{{! READ table }}
<table>
    <thead>
        {{!-- Display headers/attribute names --}}
        <tr>
            {{#each classinfo.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>
        {{! For each row, print the registration id, patron id, patron name, class id, and class name}}
        
        <tbody>
        {{#each classinfo}}
        <tr>
            <td>{{this.registrationID}}</td>
            <td>{{this.patronID}}</td>
            <td>{{this.patronName}}</td>
            <td>{{this.classID}}</td>
            <td>{{this.className}}</td>

            {{! DELETE form }}
            <form id='delete_registration_form' method="POST" action="/class-registration/delete">
                <input type='hidden' name='delete_registration_id' value='{{this.registrationID}}' />
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>

{{! CREATE form }}
{{!-- Displays the forms to create a registration by choosing a patron ID and class ID --}}

<h2>Create Registration Info</h2>
<form class='cuForm' id='create_registration_id' method="POST" action="/class-registration/create">

    <label for='create_patron_id'>Patron Info: </label>
    <select name='create_patron_id' id='create_patron_id' required>
        <option value='' disabled selected>Select a Patron</option>
        {{#each patrons}}
        <option value='{{this.patronID}}' required>
            {{this.patronID}}
            -
            {{this.name}}
        </option>
        {{/each}}
    </select>

    <label for='create_class_id'>Class Info: </label>
    <select name='create_class_id' id='create_class_id' required>
        <option value='' disabled selected>Select a Class</option>
        {{#each classes}}
        <option value='{{this.classID}}' required>
            {{this.classID}}
            -
            {{this.name}}
        </option>
        {{/each}}
    </select>
   
    <input type='submit' />

{{! UPDATE form }}
{{!-- Displays the forms to update the patron info and fills with data for registrationID, patronID, and classID --}}
<h2>Update Registration Info</h2>
<form class='cuForm' id='update_registration_id' method="POST" action="/class-registration/update">
    <label for='update_registration_id'>Registration ID Update: </label>
    <select name='update_registration_id' id='update_registration_id' required>
        <option value='' disabled selected>Select a Registration ID</option>
        {{#each classinfo}}
        <option value='{{this.registrationID}}' required>
            {{this.registrationID}}
        </option>
        {{/each}}
    </select>

    <label for='update_patron_id'>Patron Info to Update: </label>
    <select name='update_patron_id' id='update_patron_id' required>
        <option value='' disabled selected>Select a Patron</option>
        {{#each patrons}}
        <option value='{{this.patronID}}' required>
            {{this.patronID}}
            -
            {{this.name}}
        </option>
        {{/each}}
    </select>

    <label for='update_class_id'>Class Info to Update: </label>
    <select name='update_class_id' id='update_class_id' required>
        <option value='' disabled selected>Select a Class</option>
        {{#each classes}}
        <option value='{{this.classID}}' required>
            {{this.classID}}
            -
            {{this.name}}
        </option>
        {{/each}}
    </select>
   
    <input type='submit' />
</form>


