{{!--
Citation for the following html:
Date: 11/02/2025
Copied from: CS340 start app code 
Source URL: https://canvas.oregonstate.edu/courses/2017561/pages/exploration-web-application-technology-2?module_item_id=25645131
--}}
<h1>Class Registration</h1>
<div class="pageDescription">
    <p>Class Registration page (PatronHasClasses table).</p>
</div>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each classinfo.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>
        <tbody>
        {{! For each row, print the id, fname, lname, homeworld and age }}
        {{#each classinfo}}
        <tr>
            <td>{{this.registrationID}}</td>
            <td>{{this.patronID}}</td>
            <td>{{this.patronName}}</td>
            <td>{{this.classID}}</td>
            <td>{{this.className}}</td>

            

            {{! DELETE form }}
            <form id='delete_person_form'>
                <input type='hidden' name='delete_person_id' value='{{this.registrationID}}' />
                {{!-- <input type='hidden' name='delete_person_name' value='{{this.fname}} {{this.lname}}' /> --}}
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>

{{! UPDATE form }}
<h2>Update Registration Info</h2>
<form class='cuForm' id='update_person_form'>
    <label for='update_person_id'>Registration ID Update: </label>
    <select name='update_person_id' id='update_person_id' required>
        <option value='' disabled selected>Select a Registration ID</option>
        {{#each classinfo}}
        <option value='{{this.registrationID}}' required>
            {{this.registrationID}}
        </option>
        {{/each}}
    </select>

    <label for='update_person_id'>Patron Info to Update: </label>
    <select name='update_person_id' id='update_person_id' required>
        <option value='' disabled selected>Select a Patron</option>
        {{#each patrons}}
        <option value='{{this.patronID}}' required>
            {{this.patronID}}
            -
            {{this.name}}
        </option>
        {{/each}}
    </select>

    <label for='update_person_id'>Class Info to Update: </label>
    <select name='update_person_id' id='update_person_id' required>
        <option value='' disabled selected>Select a Class</option>
        {{#each classes}}
        <option value='{{this.classID}}' required>
            {{this.classID}}
            -
            {{this.name}}
        </option>
        {{/each}}
    </select>
   
    <input type='submit' />
</form>


