{{!--
Citation for the following html:
Date: 11/02/2025
Copied from: CS340 start app code 
Source URL: https://canvas.oregonstate.edu/courses/2017561/pages/exploration-web-application-technology-2?module_item_id=25645131
All code on this file is from this source
--}}
<h1>Emergency Contacts</h1>
<div class="pageDescription">
    <p>Emergency Contacts page.</p>
</div>
{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each contacts.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, name, email, and phone number }}

        {{#each contacts}}
        <tr>
            <td>{{this.emergencyContactID}}</td>
            <td>{{this.name}}</td>
            <td>{{this.email}}</td>
            <td>{{this.phoneNumber}}</td>
        </tr>
        {{/each}}
    </tbody>

    
</table>


